{% extends 'Base.html' %}

{% block sidebar %}
{% endblock sidebar%}

{% block Topbar %}
<nav class="navbar navbar-expand navbar-dark bg-primary topbar mb-4 static-top shadow">
    <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
        <div class=" mx-3">
            {% if title %}
            {{ title }}
            {% else %}
            Voting Interface
            {% endif %}
        </div>
    </a>
</nav>
{% endblock Topbar %}

{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="">{{ message_action['display'] }}</div>
        <p class="lead text-gray-800 mb-5">{{ message_action['url'] }}</p>
        <a href="/">&larr; Back to home</a>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock body %}

{% block script %} {% endblock script %}
